<% 'use strict'; %>
<!-- ./views/urls_index.ejs -->

  <% include ./partials/_header.ejs  %>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!-- ADD MY EJS CODE HERE -->
  <% if (!user) { %>
  <table>
   <% Object.keys(urls).forEach(function(urlList){ %>
   <tr>
   <td><a href="urls/<%= `${urlList}` %>"><%= `${urlList}` %></a></td>
   <td>: <a href="<%= `${urls[urlList]}` %>"><%= `${urls[urlList]}` %></a></td>
   </tr>
      <% }) %>
    <% } else { %>
    </table>
  <table>
    <% Object.keys(users[user]['urls']).forEach(function(userURL){ %>
  <tr>
  <td><a href="urls/<%= `${userURL}` %>"><%= `${userURL}` %></a></td>
  <td>: <a href="<%= `${users[user]['urls'][userURL]}` %>"><%= `${users[user]['urls'][userURL]}` %></td>
  <td style="padding-top: 15px; padding-left: 10px"><form method="GET" action="<%=`/urls/${user}`%>">
        <input type="submit" value="EDIT">
  </form></td>
  <td style="padding-top: 15px; padding-left: 10px"><form method="POST" action="<%=`/urls/${user}/delete`%>">
        <input type="submit" value="DELETE">
  </form></td>
  </tr>
  <% }) %>
    <p><a href="urls/new">Click here to generate a new URL</a></p>
</table>
<% } %>
</body>
</html>